.horizontal {
    position: relative;
    perspective: 200px;
    &::before {
        content: "horizontal";
        display: block;
        width: 200px;
        text-align: center;
        position: absolute;
        top: 15px;
    }
}
.horizontal__x, .horizontal__ham {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    transition: transform 1s ease;
}
.horizontal__x {
    transform: rotateX(0deg);
}
.horizontal__ham {
    transform: rotateX(-180deg);
}
.rotate-x .horizontal__x {
    transform: rotateX(180deg);
}
.rotate-x .horizontal__ham {
    transform: rotateX(0deg)
}