@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "modules/_lines.scss";
@import "modules/_keyframes.scss";
@import "modules/_vertical.scss";
@import "modules/_horizontal.scss";
@import "modules/_angle.scss";
@import "modules/_snake.scss";
@import "modules/_slide.scss";


html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
:root {
    --background:  #ffffff;
    --color: #292828;
    --x: #7e9401;
    --active:  #cff300;
    --front: rotateX(-180deg);
    --back: rotateX(0deg);
    --transform-front: rotateX(0deg);
    --transform-back: rotateX(180deg);
}

.main {
    background-color: var(--background);
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    width: 100vw;
    padding: 20px 10px;
    &__header {
        margin: 0;
        color: var(--color);
        text-align: center;
        font-size: 30px;
        &--x {
            color: var(--x);
            display: inline-block;
            animation: rotating-x 2s linear infinite;
            font-size: 40px;
        }
    }
    &__description {
        font-size: 18px;
        color: var(--color);
        text-align: center;
        display: block;
        width: 100%;
        margin: 0 auto;
    }
}
.button {
    margin: 50px auto;
    display: block;
    stroke: var(--color);
    stroke-width: 3.175;
    cursor: pointer;
    background: none;
    border: none;
    &:focus {
        outline: none;
    }
    &:focus-visible {
        outline: 2px solid var(--x);
    }
}
.options {
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    width: 100%;
    margin: 0 auto;
    color: var(--color);
    text-align: center;
    &--open {
        opacity: 1;
        transition: opacity 1s linear;
    }
    &__text {
        width: max-content;
        display: block;
        margin: 0 auto 40px;
        font-size: 18px;
        font-weight: 600;
    }
    &__x-box {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
    }
}
.see-code {
    position: absolute;
    width: max-content;
    z-index: 1;
    bottom: -25px;
    left: 59px;
}
.code-container {
    width: 100vw;
    background: pink;
}
pre {
    white-space: pre-wrap;
    text-align: left;
}
.code {
    width: 500px;
    overflow-wrap: normal;
    
}

