@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "modules/_lines.scss";
@import "modules/_keyframes.scss";

html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
:root {
    --background:  #ffffff;
    --color: #292828;
    --x: #7e9401;
    --active:  #cff300;
    --front: rotateX(-180deg);
    --back: rotateX(0deg);
    --transform-front: rotateX(0deg);
    --transform-back: rotateX(180deg);
  }
.main {
    background-color: var(--background);
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    width: 100vw;
    padding: 20px 10px;
    &__header {
        margin: 0;
        color: var(--color);
        text-align: center;
        font-size: 30px;
        &--x {
            color: var(--x);
            display: inline-block;
            animation: rotating-x 2s linear infinite;
            font-size: 40px;
        }
    }
    &__description {
        font-size: 18px;
        color: var(--color);
        text-align: center;
        display: block;
        width: 100%;
        margin: 0 auto;
    }
}
.button {
    margin: 50px auto;
    display: block;
    stroke: var(--color);
    stroke-width: 3.2;
    cursor: pointer;
    background: none;
    border: none;
    &:focus {
        outline: none;
    }
    &:focus-visible {
        outline: 2px solid var(--x);
    }
}
.options {
    height: auto;
    max-height: 0px;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    color: var(--color);
    text-align: center;
    &--open {
        max-height: 1000px;
        transition: max-height 1s linear;
    }
    &__text {
        width: max-content;
        display: block;
        margin: 0 auto;
    }
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 16px 0 0;
    }
    &__item {
        line-height: 1.5;
        font-weight: 700;
        font-size: 18px;
        transition: color 0.2s ease-in;
        width: max-content;
        display: block;
        margin: 0 auto;
        &:hover {
            color: var(--x);
            cursor: pointer;
        }
        &:active {
            color: var(--active);
        }
    }
    &__x-box {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
    }
}
.horizontal {
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 200px;
    margin: 0 auto;
    display: block;
    stroke: var(--color);
    stroke-width: 3.2;
    background: none;
    border: none;
    &::before {
        content: "horizontal";
    }
}
.horizontal__x, .horizontal__ham {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    transition: transform 1s ease;
}
.horizontal__x {
    transform: rotateX(0deg);
}
.horizontal__ham {
    transform: rotateX(-180deg);
}
.rotate-x .horizontal__x {
    transform: rotateX(180deg);
}
.rotate-x .horizontal__ham {
    transform: rotateX(0deg)
}
.vertical {
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 200px;
    margin: 0 auto;
    display: block;
    stroke: var(--color);
    stroke-width: 3.2;
    background: none;
    border: none;
    &::before {
        content: "vertical";
    }
}
.vertical__x, .vertical__ham {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    transition: transform 1s ease;
}
.vertical__x {
    transform: rotateY(0deg);
}
.vertical__ham {
    transform: rotateY(-180deg);
}
.rotate-y .vertical__x {
    transform: rotateY(180deg);
}
.rotate-y .vertical__ham {
    transform: rotateY(0deg)
}

.card-container, .front, .back {
    width: 200px;
    height: 200px;
}
.card-container {
    position: relative;
    perspective: 200px;
    margin: 0 auto;
    display: block;
    stroke: var(--color);
    stroke-width: 3.2;
    cursor: pointer;
    background: none;
    border: none;
    &:focus {
        outline: none;
    }
    &:focus-visible {
        outline: 2px solid var(--x);
    }
}
.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    transition: transform 1s ease;
}
.front {
    transform: var(--front);
}
.back {
    transform: var(--back);
}
.transform .front {
    transform: var(--transform-front);
}
.transform .back {
    transform: var(--transform-back);
}
