@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Source+Code+Pro&display=swap");
.line {
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1); }

.line--one {
  stroke-dasharray: 29 29;
  stroke-dashoffset: 0; }

.opened .line--one {
  stroke-dasharray: 0 29;
  stroke-dashoffset: -15; }

.line--two {
  stroke-dasharray: 29 105;
  stroke-dashoffset: 0; }

.opened .line--two {
  stroke-dasharray: 43 105;
  stroke-dashoffset: -66; }

.line--three {
  stroke-dasharray: 29 105;
  stroke-dashoffset: 0; }

.opened .line--three {
  stroke-dasharray: 43 105;
  stroke-dashoffset: -66; }

@keyframes rotating-x {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

@-webkit-keyframes rotating-x {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

.vertical {
  perspective: 400px;
  width: 200px;
  height: 200px;
  position: relative;
  stroke: var(--color);
  transition: stroke .3s ease-in; }
  .vertical:hover {
    stroke: var(--x); }
  .vertical::before {
    content: "vertical";
    display: block;
    width: 200px;
    text-align: center;
    position: absolute;
    top: 15px; }

.vertical__x, .vertical__ham {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 1s ease; }

.vertical__x {
  transform: rotateY(0deg); }

.vertical__ham {
  transform: rotateY(-180deg); }

.rotate-y .vertical__x {
  transform: rotateY(180deg); }

.rotate-y .vertical__ham {
  transform: rotateY(0deg); }

.horizontal {
  perspective: 200px;
  width: 200px;
  height: 200px;
  position: relative;
  stroke: var(--color);
  transition: stroke .3s ease-in; }
  .horizontal:hover {
    stroke: var(--x); }
  .horizontal::before {
    content: "horizontal";
    display: block;
    width: 200px;
    text-align: center;
    position: absolute;
    top: 15px; }

.horizontal__x, .horizontal__ham {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  overflow: hidden;
  transition: transform 1s ease; }

.horizontal__x {
  transform: rotateX(0deg); }

.horizontal__ham {
  transform: rotateX(-180deg); }

.rotate-x .horizontal__x {
  transform: rotateX(180deg); }

.rotate-x .horizontal__ham {
  transform: rotateX(0deg); }

.angle {
  width: 200px;
  height: 200px;
  position: relative;
  stroke: var(--color);
  transition: stroke .3s ease-in; }
  .angle:hover {
    stroke: var(--x); }
  .angle::before {
    content: "angle";
    display: block;
    width: 200px;
    text-align: center;
    position: absolute;
    top: 15px; }
  .angle__ham {
    position: absolute;
    top: 0;
    left: 0; }

.angle__path--middle {
  stroke-dasharray: 29 29;
  stroke-dashoffset: 0;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1); }

.slant .angle__path--middle {
  stroke-dasharray: 0 29;
  stroke-dashoffset: -15; }

.angle__path--top {
  transform: rotate(0deg);
  transform-origin: 14px 22px;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1); }

.slant .angle__path--top {
  transform: rotate(45deg); }

.angle__path--bottom {
  transform: rotate(0deg);
  transform-origin: 16px 31px;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1); }

.slant .angle__path--bottom {
  transform: rotate(-45deg); }

.snake {
  width: 200px;
  height: 200px;
  position: relative;
  stroke: var(--color);
  transition: stroke .3s ease-in; }
  .snake:hover {
    stroke: var(--x); }
  .snake::before {
    content: "snake";
    display: block;
    width: 200px;
    text-align: center;
    position: absolute;
    top: 15px; }
  .snake__shape {
    position: absolute;
    top: 0;
    left: 0; }
  .snake__path {
    transition: stroke-dasharray 1s cubic-bezier(0.68, 0.01, 0.08, 0.97), stroke-dashoffset 1s cubic-bezier(0.68, 0.01, 0.08, 0.97); }
    .snake__path--one {
      stroke-dasharray: 29 29;
      stroke-dashoffset: 0; }
    .snake__path--two {
      stroke-dasharray: 29 169;
      stroke-dashoffset: -139.5; }
    .snake__path--three {
      stroke-dasharray: 29 172;
      stroke-dashoffset: -170.5; }

.open-snake .snake__path--one {
  stroke-dasharray: 0 29;
  stroke-dashoffset: -15; }

.open-snake .snake__path--two {
  stroke-dasharray: 29 199;
  stroke-dashoffset: 0; }

.open-snake .snake__path--three {
  stroke-dasharray: 29 200;
  stroke-dashoffset: 0; }

.slide {
  width: 200px;
  height: 200px;
  position: relative;
  stroke: var(--color);
  transition: stroke .3s ease-in; }
  .slide:hover {
    stroke: var(--x); }
  .slide::before {
    content: "slide";
    display: block;
    width: 200px;
    text-align: center;
    position: absolute;
    top: 15px; }
  .slide__shape {
    position: absolute;
    top: 0;
    left: 0; }
  .slide__path {
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1); }
    .slide__path--one {
      stroke-dasharray: 0 29;
      stroke-dashoffset: -15; }
    .slide__path--two {
      stroke-dasharray: 29 105;
      stroke-dashoffset: 0; }
    .slide__path--three {
      stroke-dasharray: 29 105;
      stroke-dashoffset: 0; }

.closed .slide__path--one {
  stroke-dasharray: 29 29;
  stroke-dashoffset: 0; }

.closed .slide__path--two {
  stroke-dasharray: 43 105;
  stroke-dashoffset: -72; }

.closed .slide__path--three {
  stroke-dasharray: 43 105;
  stroke-dashoffset: -72; }

.code-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  column-gap: 5px;
  row-gap: 5px;
  width: 90%;
  background-color: var(--color);
  color: var(--code);
  overflow-y: hidden;
  transition: max-height 0.8s cubic-bezier(0.25, 0.01, 0.21, 1), box-shadow 0.8s cubic-bezier(0.25, 0.01, 0.21, 1), padding 0.8s cubic-bezier(0.25, 0.01, 0.21, 1);
  height: auto;
  max-height: 0px;
  margin: 0 auto 50px;
  padding: 0;
  border-radius: 10px;
  box-shadow: inset 0 0 0px var(--grey);
  position: relative; }
  @media screen and (max-width: 1400px) {
    .code-container {
      grid-template-columns: 1fr;
      max-width: 600px; } }
  .code-container--opened {
    max-height: 1600px;
    box-shadow: inset 0 0 10px var(--grey);
    padding: 15px; }
  .code-container__button-strap {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-end; }
  .code-container__close {
    position: sticky;
    top: 10px;
    left: calc(100% - 74px);
    cursor: pointer;
    background: var(--dark-grey);
    color: var(--background);
    border-radius: 7px;
    z-index: 3;
    font-family: 'Open Sans', sans-serif; }
    .code-container__close:hover {
      background: var(--code);
      color: var(--color); }
    .code-container__close:focus {
      outline: none; }
    .code-container__close:focus-visible {
      outline: 2px solid var(--x); }
  .code-container__item {
    overflow-y: auto;
    max-height: 500px;
    border: 2px var(--dark-grey) solid;
    border-radius: 7px;
    padding: 0 5px;
    word-break: break-all;
    position: relative;
    scrollbar-color: var(--grey) var(--dark-grey); }
    .code-container__item--html::before {
      content: "HTML";
      position: sticky;
      top: 0px;
      left: 0;
      background: none;
      font-weight: 700;
      color: var(--dark-grey);
      font-size: 22px; }
    .code-container__item--scss::before {
      content: "SCSS";
      position: sticky;
      top: 0px;
      left: 0;
      background: none;
      font-weight: 700;
      z-index: 2;
      color: var(--dark-grey);
      font-size: 22px; }
    .code-container__item--js::before {
      content: "JS";
      position: sticky;
      top: 0px;
      left: 0;
      background: none;
      font-weight: 700;
      z-index: 2;
      color: var(--dark-grey);
      font-size: 22px; }

pre {
  white-space: pre-wrap;
  text-align: left;
  width: auto; }

.code {
  overflow-wrap: normal;
  font-family: 'Source Code Pro', monospace;
  font-size: 18px; }
  @media screen and (max-width: 515px) {
    .code {
      font-size: 14px; } }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*, *:before, *:after {
  box-sizing: inherit; }

:root {
  --background:  #ffffff;
  --color: #181818;
  --x: #718500;
  --code:  #cff300;
  --grey: #a3a3a3;
  --dark-grey:  #505050;
  --front: rotateX(-180deg);
  --back: rotateX(0deg);
  --transform-front: rotateX(0deg);
  --transform-back: rotateX(180deg); }

body {
  margin: 0;
  padding: 0; }

.main {
  background-color: var(--background);
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  width: 100vw;
  padding: 20px 10px;
  margin: 0; }
  .main__header {
    margin: 0;
    color: var(--color);
    text-align: center;
    font-size: 30px;
    font-weight: 700; }
    .main__header--x {
      color: var(--x);
      display: inline-block;
      animation: rotating-x 3s linear infinite;
      font-size: 40px; }
  .main__description {
    font-size: 22px;
    color: var(--color);
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto; }

.button {
  margin: 50px auto;
  display: block;
  stroke: var(--color);
  stroke-width: 3.175;
  cursor: pointer;
  background: none;
  border: none;
  position: relative; }
  .button:focus {
    outline: none; }
  .button:focus-visible {
    outline: 2px solid var(--x); }
  .button::after {
    content: "menu";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 0;
    color: var(--color);
    font-size: 18px;
    text-align: center;
    z-index: 1; }

.button.opened {
  stroke: var(--dark-grey); }
  .button.opened::after {
    content: "close";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 0;
    color: var(--dark-grey);
    font-size: 18px;
    text-align: center;
    z-index: 1; }

.anchor {
  width: 100%;
  height: 1px;
  background: none; }

.options {
  height: auto;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-out, max-height 0.5s ease-out;
  width: 100%;
  margin: 0 auto;
  color: var(--color);
  text-align: center;
  font-size: 18px; }
  .options--open {
    max-height: 1000px;
    opacity: 1;
    transition: opacity 1s ease-out, max-height 1s linear; }
  .options__header {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0; }
  .options__instruction {
    font-size: 18px;
    font-weight: 400; }
  .options__x-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 50px auto 0;
    list-style-type: none; }
  .options__item {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 50px;
    display: block;
    font-size: 16px;
    stroke-width: 3.175;
    background: none;
    border: none;
    cursor: pointer; }

.see-code {
  position: absolute;
  height: 30px;
  bottom: 0px;
  left: 0;
  width: 200px;
  z-index: 1;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center; }
  .see-code:link {
    color: var(--color); }
  .see-code:visited {
    color: var(--color); }
  .see-code:hover {
    color: var(--x); }
  .see-code:active {
    color: var(--code); }
  .see-code:focus {
    outline: none; }
  .see-code:focus-visible {
    outline: 2px solid var(--x); }
