.vertical {
    perspective: 400px;
    width: 200px;
    height: 200px;
    position: relative;
    stroke: var(--color);
    transition: stroke .3s ease-in;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    &:hover {
        stroke: var(--x);
    }    
    &::before {
        content: "vertical";
        display: block;
        width: 200px;
        text-align: center;
        position: absolute;
        top: 15px;
    }
}
.vertical__x, .vertical__ham {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    overflow: hidden;
    transition: transform 1s ease;
}
.vertical__x {
    transform: rotateY(0deg);
}
.vertical__ham {
    transform: rotateY(-180deg);
}
.rotate-y .vertical__x {
    transform: rotateY(180deg);
}
.rotate-y .vertical__ham {
    transform: rotateY(0deg)
}